<!DOCTYPE html>
<html lang="en">

<head th:replace="layout :: head">

</head>

<body class="sb-nav-fixed">
	<nav class="sb-topnav navbar navbar-expand navbar-dark bg-primary">
		<div th:replace="layout :: brand"></div>
		<form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">

		</form>

		<ul th:replace="layout :: navbar">

		</ul>
	</nav>
	<div id="layoutSidenav">
		<div id="layoutSidenav_nav">
			<nav class="sb-sidenav accordion text-dark" id="sidenavAccordion">
				<div class="sb-sidenav-menu">
					<div class="nav" th:replace="layout :: sidenav">

					</div>
				</div>
				<div th:replace="layout :: user">

				</div>
			</nav>
		</div>
		<div id="layoutSidenav_content">
			<main>

				<div class="container-fluid px-4">
					<h1 class="mt-4">Registrar Empresa</h1>
					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item"><a th:href="@{/}">Tablero</a></li>
						<li class="breadcrumb-item active">Registrar Empresa</li>
					</ol>
					<div class="card mb-4">
						<div class="card-header">
							<i class="fas fa-table me-1"></i>
							Registrar Empresa
						</div>
						<div class="card-body">

							<form class="row" th:object="${empresa}" enctype="multipart/form-data"
								th:action="@{/empresas/registrar}" method="post">

								<div class="text-center">
								
								<div class="row">
									<div class="col col-12 col-lg-6 col-md-12 col-sm-12">
										<label for="exampleFormControlTextarea1" class="form-label">Razón
											Social:</label>
										<input type="text" class="form-control" placeholder="Razón Social"
											aria-label="First name" th:field="*{razon_social}" required>
										<br>
									</div>

									<div class="col col-12 col-lg-6 col-md-12 col-sm-12">
										<label for="exampleFormControlTextarea1" class="form-label">CUIT:</label>
										<input type="text" class="form-control" placeholder="CUIT"
											aria-label="First name" th:field="*{cuit}" required>
										<br>
									</div>
								</div>

								<div class="row">
									<div class="col col-12 col-lg-6 col-md-12 col-sm-12">
										<label for="exampleFormControlTextarea1" class="form-label">Nombre
											Fantasía:</label>
										<input type="text" class="form-control" placeholder="Nombre Fantasía"
											aria-label="First name" th:field="*{nombre_fantasia}" required>
										<br>
									</div>

									<div class="col col-12 col-lg-6 col-md-12 col-sm-12">
										<label for="exampleFormControlTextarea1" class="form-label">Inicio
											Actividades:</label>
										<input type="date" class="form-control" placeholder="Nombre Fantasía"
											aria-label="First name" th:field="*{inicio_actividades}" required>
										<br>
									</div>
								</div>

								<div class="row">
									<div class="col col-12 col-lg-6 col-md-12 col-sm-12">
										<label for="exampleFormControlTextarea1" class="form-label">Número DGR:</label>
										<input type="text" class="form-control" placeholder="Número DGR"
											aria-label="First name" th:field="*{numero_dgr}">
										<br>
									</div>

									<div class="col col-12 col-lg-6 col-md-12 col-sm-12">
										<label for="exampleFormControlTextarea1" class="form-label">Responsable
											Iva:</label>
										<select class="form-select" aria-label="Default select example"
											th:field="*{id_responsable}" required>
											<option th:each="responsable : ${responsables_iva}"
												th:text="${responsable.responsable}"
												th:value="${responsable.id_responsable}"></option>
										</select>
										<br>
									</div>
								</div>

								<div>
									<button class="text-white btn btn-primary" type="submit">Guardar</button>
									<a th:href="@{/}" class="text-white btn btn-danger">Cancelar</a>
								</div>

							</form>

						</div>
					</div>
				</div>


			</main>
			<footer th:replace="layout :: footer">

			</footer>
		</div>
	</div>
	<div th:replace="layout :: script">

	</div>
</body>

</html>