<!doctype html>
<html lang="en">

<head th:replace="layout :: head">

</head>

<body>

	<div class="container-fluid">
		<div class="row">

			<main class="">

				<br>
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a th:href="@{/login}">Login</a></li>
						<li class="breadcrumb-item active" aria-current="page">Registrar</li>
					</ol>
				</nav>

			</main>

			<h2 class="text-center">Formulario Registro</h2>
			<br>

			<form class="row" th:object="${usuario}"
			th:action="@{/registros/registrar}" enctype="multipart/form-data"
			method="post">
				<h3 class="text-left">Datos Usuario</h3>

				<div class="row">
					<div class="col col-12 col-md-12 col-lg-6">
						<label for="exampleFormControlTextarea1" class="form-label">Usuario:</label>
						<input type="text" class="form-control" placeholder="Usuario" aria-label="First name"
							th:field="*{username}" required>
						<br>
					</div>
					<div class="col col-12 col-md-12 col-lg-6">
						<label for="exampleFormControlTextarea1" class="form-label">Contraseña:</label>
						<input type="password" class="form-control" placeholder="Contraseña" aria-label="First name"
							th:field="*{password}" required>
						<br>
					</div>
				</div>
				<div class="row">
					<div class="col col-12 col-md-12 col-lg-6">
						<label for="exampleFormControlTextarea1" class="form-label">Pregunta de Seguridad:</label>
						<select class="form-select" aria-label="Default select example"
						th:field="*{id_pregunta}" required>
							<option th:each="pregunta : ${preguntas}" th:text="${pregunta.pregunta}"
							th:value="${pregunta.id_pregunta}">Seleccione
								Pregunta:</option>
						</select>
						<br>
					</div>

					<div class="col col-12 col-md-12 col-lg-6">
						<label for="exampleFormControlTextarea1" class="form-label">Respuesta:</label>
						<input type="text" class="form-control" placeholder="Respuesta" aria-label="First name"
							th:field="*{respuesta}" required>
					</div>
				</div>
				
				<div class="row">
					<br>
					<div class="text-center">

						<input type="submit" class="btn btn-success" value="Guardar" />
						<a class="btn btn-danger" th:href="@{/}">Cancelar</a>

					</div>

				</div>
			</form>

		</div>
	</div>

	<br>


	<div th:replace="layout :: script"></div>

	<script>

		$(document).ready(function () {

			$.get("/registros/provincias", function (data) {

				data.forEach(function (item, i) {
					var option = "<option value = " + item.id + ">" + item.prov + "</option>";
					$("#id_provincia").append(option);
				});
			});

			function sendAjaxRequest() {
				var id_provincia = $("#id_provincia").val();
				$.get("/registros/localidades?id_provincia=" + id_provincia, function (data) {
					$("#id_localidad").empty();
					data.forEach(function (item, i) {
						var option = "<option value = " + item.id + ">" + item.localidad + "</option>";
						$("#id_localidad").append(option);
					});
					if ($("#id_localidad option:selected").val() > 0) {
						var localidad = $("#id_localidad option:selected").text();
						var provincia = $("#id_provincia option:selected").text();
						$("#id_seleccion").val($("#id_localidad").val());
						$("#seleccion").val(localidad + ", " + provincia);
					}
				});
			};

			$("#id_provincia").change(function () {
				sendAjaxRequest();
			});



			$("#id_localidad").change(function () {
				if ($("#id_localidad option:selected").val() > 0) {
					var localidad = $("#id_localidad option:selected").text();
					var provincia = $("#id_provincia option:selected").text();
					$("#id_seleccion").val($("#id_localidad").val());
					$("#seleccion").val(localidad + ", " + provincia);
				}
			});

		});




	</script>



</body>

</html>