<!DOCTYPE html>
<html lang="en">

<head th:replace="layout :: head">

</head>

<body class="sb-nav-fixed">
	<nav class="sb-topnav navbar navbar-expand navbar-dark bg-primary">
		<div th:replace="layout :: brand"></div>
		<form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">

		</form>

		<ul th:replace="layout :: navbar">

		</ul>
	</nav>
	<div id="layoutSidenav">
		<div id="layoutSidenav_nav">
			<nav class="sb-sidenav accordion text-dark" id="sidenavAccordion">
				<div class="sb-sidenav-menu">
					<div class="nav" th:replace="layout :: sidenav">

					</div>
				</div>
				<div th:replace="layout :: user">

				</div>
			</nav>
		</div>
		<div id="layoutSidenav_content">
			<main>
				<div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin:15px;"
					th:if="${error != null}">
					<span th:text="${error}"></span>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>

				<div class="container-fluid px-4">
					<h1 class="mt-4">Detalles Plan de Pago</h1>
					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item"><a th:href="@{/clientes/detalles/} + ${cliente.id_cliente}">Detalles
								Cliente</a></li>
						<li class="breadcrumb-item active">Detalles Plan de Pago</li>
					</ol>
					<div class="card mb-4">
						<div class="card-body">
							Aquí se detalla el plan de pago del cliente <span th:text="${cliente.cliente}"></span>.
							Puede consultar el Manual del Usuario en:
							<a target="_blank" href="https://datatables.net/">Manual del Usuario</a>
							.
						</div>
					</div>
					<div class="card mb-4">
						<div class="card-header">
							<i class="fas fa-table me-1"></i>
							Detalles Plan de Pago
						</div>
						<div class="card-body">




							<div class="row">

								<div class="col-md-6 col-lg-3 col-sm-12">
									<br>
									<div class="card text-white bg-info mb-3">
										<div class="card-header"><b>Total</b></div>
										<div class="card-body">

											<h5 class="card-title"
												th:text="'$ ' + ${#numbers.formatDecimal(plan_pago.total, 1, 'POINT', 2, 'COMMA')}">
											</h5>
											<!-- <h4 class="card-title" th:text="'Valor Cuota: $ ' + ${#numbers.formatDecimal(desarrollo.valor_cuota, 1, 'POINT', 2, 'COMMA')}"></h4>-->

										</div>
									</div>
								</div>

								<div class="col-md-6 col-lg-3 col-sm-12">
									<br>
									<div class="card text-white bg-primary mb-3">
										<div class="card-header"><b>Valor Cuotas</b></div>
										<div class="card-body">
											<h5 class="card-title"
												th:text="'$ ' + ${#numbers.formatDecimal(plan_pago.valor_cuota, 1, 'POINT', 2, 'COMMA')}">
											</h5>

										</div>
									</div>
								</div>



								<div class="col-md-6 col-lg-3 col-sm-12">
									<br>
									<div class="card text-white bg-secondary mb-3">
										<div class="card-header"><b>Pendiente</b></div>
										<div class="card-body">

											<h5 class="card-title"
												th:text="'$ ' + ${#numbers.formatDecimal(pendiente, 1, 'POINT', 2, 'COMMA')}">
											</h5>
											<!-- <h4 class="card-title" th:text="'Valor Cuota: $ ' + ${#numbers.formatDecimal(desarrollo.valor_cuota, 1, 'POINT', 2, 'COMMA')}"></h4>-->

										</div>
									</div>
								</div>

								<div class="col-md-6 col-lg-3 col-sm-12">
									<br>
									<div class="card text-dark bg-ligth mb-3">
										<div class="card-header"><b>Abonado</b></div>
										<div class="card-body">
											<h5 class="card-title"
												th:text="'$ ' + ${#numbers.formatDecimal(pagado, 1, 'POINT', 2, 'COMMA')}">
											</h5>

										</div>
									</div>
								</div>

							</div>

						
								<ul class="list-group">
								<li class="list-group-item d-flex justify-content-between align-items-center text-success">
										Cuotas Canceladas
										<span class="badge bg-success rounded-pill" th:text="${pagadas}">14</span>
									</li>
									<li class="list-group-item d-flex justify-content-between align-items-center text-danger">
										Cuotas Vencidas
										<span class="badge bg-danger rounded-pill" th:text="${vencidas}">14</span>
									</li>
									<li class="list-group-item d-flex justify-content-between align-items-center text-warning">
										Cuotas con Saldo Pendiente
										<span class="badge bg-warning rounded-pill" th:text="${saldo_pendiente}">14</span>
									</li>
										<li class="list-group-item d-flex justify-content-between align-items-center text-primary">
										Cuotas al día
										<span class="badge bg-primary rounded-pill" th:text="${al_dia}">14</span>
									</li>
								</ul>
								
								<br>
						

							<form style="font-size: 12px;" th:action="@{/pagos/generar_pago}" method="post">

								<div class="table-responsive">
									<table class="table table-sm text-center" style="max-width: 100%;">
										<thead class="bg-dark text-white">
											<tr>
												<th class="border-white" scope="col">Nro Cuota</th>
												<th class="border-white" scope="col">Fecha Vencimiento</th>

												<th class="border-white" scope="col">Deuda Nominal</th>
												<th class="border-white" scope="col">Cuota Nominal</th>
												<th class="border-white" scope="col">Honorarios</th>
												<th class="border-white" scope="col">Interés</th>
												<th class="border-white" scope="col">IVA Interés</th>
												<th class="border-white" scope="col">IVA Honorarios</th>
												<th class="border-white" scope="col">Gastos</th>
												<th class="border-white bg-primary text-white" scope="col">Valor</th>
												<th class="border-white"  scope="col">Estado
												</th>
												<th class="border-white bg-dark text-white" scope="col">Pagar</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="cuota : ${plan_pago.cuotas}">

												<td 
													th:text=" ${cuota.nro_cuota}">1,001</td>
												<td 
													th:text="${#dates.format(cuota.fecha,'dd/M/yyyy')}">1,001</td>
												<td
													th:text=" '$ ' + ${#numbers.formatDecimal(cuota.deuda_nominal, 0, 'POINT', 2, 'COMMA')} ">
													1,001</td>
												<td 
													th:text=" '$ ' + ${#numbers.formatDecimal(cuota.cuota_nominal, 0, 'POINT', 2, 'COMMA')} ">
													1,001</td>
												<td 
													th:text=" '$ ' + ${#numbers.formatDecimal(cuota.honorarios, 0, 'POINT', 2, 'COMMA')}">
													1,001</td>
												<td 
													th:text=" '$ ' + ${#numbers.formatDecimal(cuota.interes, 0, 'POINT', 2, 'COMMA')}">
													1,001</td>
												<td
													th:text=" ${#numbers.formatDecimal(cuota.iva_interes, 1, 'POINT', 2, 'COMMA')} + '%'">
													1,001</td>
												<td 
													th:text=" ${#numbers.formatDecimal(cuota.iva_honorarios, 1, 'POINT', 2, 'COMMA')} + '%'">
													1,001</td>
												<td 
													th:text=" '$ ' + ${#numbers.formatDecimal(plan_pago.gasto, 0, 'POINT', 2, 'COMMA')}">
													1,001</td>
												<td class="bg-primary text-white"
													th:id="'valor_cuota_txt_'+${cuota.nro_cuota}"
													th:text=" '$ ' + ${#numbers.formatDecimal(cuota.valor, 0, 'POINT', 2, 'COMMA')}">
													1,001</td>
												<td class="d-none" th:id="'valor_cuota_'+${cuota.nro_cuota}"
													th:text="${cuota.valor}">
													1,001</td>
												<td 
													>
													
													<span
													th:text="'$ ' + ${#numbers.formatDecimal(cuota.pendiente, 1, 'POINT', 2, 'COMMA')}"
													></span>
													<br>
													<small class="text-success" th:if="${cuota.pagado}">(*) Pagado </small>
													<small class="text-warning" th:if="${cuota.pendiente > 0 and (cuota.pendiente < cuota.valor)}">(*) Saldo Pendiente</small>
													<small class="text-primary" th:if="${!cuota.vencida and (!cuota.pagado and cuota.pendiente == cuota.valor) }">(*) Al día</small>
													<small class="text-danger" th:if="${cuota.vencida}">(*) Vencida</small>
													
													</td>
												<td >
													<input class="form-check-input" type="checkbox"
														th:value="${cuota.id_cuota}" name="cuotas[]" id=""
														th:if="${!cuota.pagado}">
													<a th:if="${cuota.pendiente >= 0 and cuota.pendiente < cuota.valor}"
														th:data-bs-target="'#cuota_'+${cuota.id_cuota}"
														data-bs-toggle='modal'>
														<i class="fas fa-archive text-dark"></i>
													</a>

													<!-- Modal -->
													<div class="modal fade" th:id="'cuota_' + ${cuota.id_cuota}"
														tabindex="-1" aria-labelledby="exampleModalLabel"
														aria-hidden="true">
														<div class="modal-dialog modal-lg">
															<div class="modal-content">
																<div class="modal-header">
																	<h5 class="modal-title text-dark"
																		id="exampleModalLabel">
																		Importes Registrados Cuota Nro <b
																			th:text="${cuota.nro_cuota}"></b></h5>
																	<button type="button" class="btn-close"
																		data-bs-dismiss="modal"
																		aria-label="Close"></button>
																</div>
																<div class="modal-body">

																	<div class="row">

																		<div class="col-12 col-md-6 col-lg-6 col-sm-12">
																			<br>
																			<div
																				class="card text-white bg-secondary mb-3">
																				<div class="card-header">
																					<b>Pendiente</b>
																				</div>
																				<div class="card-body">

																					<h5 class="card-title"
																						th:text="'$ ' + ${#numbers.formatDecimal(cuota.pendiente, 1, 'POINT', 2, 'COMMA')}">
																					</h5>
																					<!-- <h4 class="card-title" th:text="'Valor Cuota: $ ' + ${#numbers.formatDecimal(desarrollo.valor_cuota, 1, 'POINT', 2, 'COMMA')}"></h4>-->

																				</div>
																			</div>
																		</div>

																		<div class="col-12 col-md-6 col-lg-6 col-sm-12">
																			<br>
																			<div
																				class="card text-white bg-success mb-3">
																				<div class="card-header"><b>Pagado</b>
																				</div>
																				<div class="card-body">
																					<h5 class="card-title"
																						th:text="'$ ' + ${#numbers.formatDecimal(cuota.sum_importes(), 1, 'POINT', 2, 'COMMA')}">
																					</h5>

																				</div>
																			</div>
																		</div>

																	</div>

																	<table class="table table-success table-striped">
																		<thead>
																			<tr>
																				<th scope="col">Id</th>
																				<th scope="col">Importe</th>
																				<th scope="col">Fecha</th>
																				<th scope="col">Medio de Pago</th>
																				<th scope="col">Detalles</th>
																				<th scope="col">Recibos</th>
																			</tr>
																		</thead>
																		<tbody>
																			<tr th:each="importe : ${cuota.importes}">
																				<td th:text="${importe.id_importe}">Mark
																				</td>
																				<td
																					th:text="'$ ' + ${#numbers.formatDecimal(importe.importe, 1, 'POINT', 2, 'COMMA')}">
																					Mark</td>
																				<td
																					th:text="${#dates.format(importe.fecha,'dd/M/yyyy')}">
																					Mark</td>
																				<td
																					th:text="${importe.medio_pago.medio_pago}">
																					Mark
																				</td>
																				<td th:text="${importe.detalles}">Mark
																				</td>
																				<td>
																					<div class="text-center"
																						th:each="detalle_recibo : ${importe.detalles_recibos}">
																						<a class="text-primary"
																							th:href="@{'/recibos/ver/' + ${detalle_recibo.recibo.id_recibo}}"
																							target="_blank">Comprobante</a>
																						<br>
																					</div>
																				</td>
																			</tr>
																		</tbody>
																	</table>

																</div>
																<div class="modal-footer">
																	<button type="button" class="btn btn-secondary"
																		data-bs-dismiss="modal">Cerrar</button>

																</div>
															</div>
														</div>
													</div>

												</td>

											</tr>
										</tbody>
									</table>

									<input class="d-none" th:value="${plan_pago.id_plan_pago}" name="id_plan_pago"
										id="">
									<input class="d-none" th:value="${cliente.id_cliente}" name="id_cliente" id="">

									<button type="submit" class="btn btn-primary">
										Generar Pago
									</button>

							</form>


							<br><br>

						</div>
					</div>
				</div>

			</main>
			<footer th:replace="layout :: footer">

			</footer>
		</div>
	</div>
	<div th:replace="layout :: script">

	</div>
</body>

</html>