<!DOCTYPE html>
<html lang="en">

<head th:replace="layout :: head">

</head>

<body class="sb-nav-fixed">
		<nav class="sb-topnav navbar navbar-expand navbar-dark bg-primary">
		<div th:replace="layout :: brand"></div>
		<form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">

		</form>

		<ul th:replace="layout :: navbar">

		</ul>
	</nav>
	<div id="layoutSidenav">
		<div id="layoutSidenav_nav">
			<nav class="sb-sidenav accordion text-dark" id="sidenavAccordion">
				<div class="sb-sidenav-menu">
					<div class="nav" th:replace="layout :: sidenav">

					</div>
				</div>
				<div th:replace="layout :: user">

				</div>
			</nav>
		</div>
		<div id="layoutSidenav_content">
			<main>
			
			<div class="alert alert-danger alert-dismissible fade show" role="alert"
										style="margin:15px;" th:if="${error != null}">
										<span th:text="${error}"></span>
										<button type="button" class="btn-close" data-bs-dismiss="alert"
											aria-label="Close"></button>
									</div>

				<div class="container-fluid px-4">
					<h1 class="mt-4">Listar Proveedores</h1>
					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item"><a th:href="@{/}">Tablero</a></li>
						<li class="breadcrumb-item active">Listar Proveedores</li>
					</ol>
					<div class="card mb-4">
						<div class="card-body">
							Aquí se detallan los proveedores registrados. Puede consultar el Manual del Usuario en:
							<a target="_blank" href="https://datatables.net/">Manual del Usuario</a>
							.
						</div>
					</div>
					<div class="card mb-4">
						<div class="card-header">
							<i class="fas fa-table me-1"></i>
							Proveedores
						</div>
						<div class="card-body">
						<div class="table-responsive">
							<table class="table table-striped table-sm text-center" id="datatablesSimple">
								<thead>
									<tr>
										<th>ID</th>
										<th>Razón Social</th>
										<th>Dirección</th>
										<th>Localidad</th>
										<th>Contacto</th>
										
										<th>¿Activo?</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>ID</th>
										<th>Razón Social</th>
										<th>Dirección</th>
										<th>Localidad</th>
										<th>Contacto</th>
										
										<th>¿Activo?</th>
									</tr>
								</tfoot>
								<tbody>

									<tr th:each="proveedor : ${proveedores}">
										<td>
										<a th:text="${proveedor.id_proveedor}" 
										th:href="@{/proveedores/registrar/} + ${proveedor.id_proveedor}"> </a>
										</td>
										<td th:text="${proveedor.razon_social}"></td>
										<td th:text="${proveedor.direccion}"></td>
										<td th:text="${proveedor.id_localidad4.localidad + ', ' + proveedor.id_localidad4.provincia.prov}">Software Engineer</td>
							
										<td th:text="${proveedor.cel + '  ' + proveedor.cel2 + '  ' + proveedor.tel_fijo + '  '
										+ proveedor.tel_fijo2 + '  ' + proveedor.mail + '  ' + proveedor.mail2}"></td>
										<td >
										<a th:text="${proveedor.activo ? 'Si':'No'}" th:classappend="${proveedor.activo ? 'text-success':'text-danger'}"
										th:href="@{/proveedores/deshabilitar/} + ${proveedor.id_proveedor}"> </a>
										</td>
									</tr>

								</tbody>
							</table>
						</div>
						</div>
					</div>
				</div>

			</main>
			<footer th:replace="layout :: footer">

			</footer>
		</div>
	</div>
	<div th:replace="layout :: script">

	</div>
</body>

</html>