<!DOCTYPE html>
<html lang="en">

<head th:replace="layout :: head">

</head>

<body class="sb-nav-fixed">
	<nav class="sb-topnav navbar navbar-expand navbar-dark bg-primary">
		<div th:replace="layout :: brand"></div>
		<form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">

		</form>

		<ul th:replace="layout :: navbar">

		</ul>
	</nav>
	<div id="layoutSidenav">
		<div id="layoutSidenav_nav">
			<nav class="sb-sidenav accordion text-dark" id="sidenavAccordion">
				<div class="sb-sidenav-menu">
					<div class="nav" th:replace="layout :: sidenav">

					</div>
				</div>
				<div th:replace="layout :: user">

				</div>
			</nav>
		</div>
		<div id="layoutSidenav_content">
			<main>

				<div class="container-fluid px-4">
					<h1 class="mt-4">Registrar Proveedor</h1>
					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item"><a th:href="@{/}">Tablero</a></li>
						<li class="breadcrumb-item active">Registrar Proveedor</li>
					</ol>
					<div class="card mb-4">
						<div class="card-header">
							<i class="fas fa-table me-1"></i>
							Registrar Proveedor
						</div>
						<div class="card-body">

							<form class="row" th:object="${proveedor}" th:action="@{/proveedores/registrar}"
								method="post">

								<div class="row">
									<div class="col col-12 col-lg-6 col-md-12 col-sm-12">
										<label for="exampleFormControlTextarea1" class="form-label">Razón
											Social:</label>
										<input type="text" class="form-control" placeholder="Razón Social"
											aria-label="First name" th:field="*{razon_social}" required>
										<br>
									</div>
									<div class="col col-12 col-lg-6 col-md-12 col-sm-12">
										<label for="exampleFormControlTextarea1" class="form-label">Dirección:</label>
										<input type="text" class="form-control" placeholder="Dirección"
											aria-label="First name" th:field="*{direccion}" required>
										<br>
									</div>
								</div>

								<div class="row">

									<div class="col">
										<label for="exampleFormControlTextarea1" class="form-label">Provincia:</label>
										<select class="form-select" aria-label="Default select example"
											id="id_provincia">
											<option value="0">Seleccione Provincia</option>
										</select>
										<br>
									</div>
									<div class="col">
										<label for="exampleFormControlTextarea1" class="form-label">Localidad:</label>
										<select class="form-select" aria-label="Default select example"
											id="id_localidad">

										</select>
										<small style="color:blue;">(*) Se carga al seleccionar provincia</small>
										<br><br>
									</div>
								</div>

								<div class="row">
									<div class="col">
										<input onkeydown="return false" type="text" class="form-control"
											placeholder="Localidad y Provincia Seleccionada" aria-label="First name"
											id="seleccion"
											th:value="${proveedor.id_localidad4 == null ? '':proveedor.id_localidad4.localidad+', '+proveedor.id_localidad4.provincia.prov}"
											required>
										<input type="hidden" class="form-control"
											placeholder="Localidad y Provincia Seleccionada" aria-label="First name"
											id="id_seleccion" th:field="*{id_localidad4}" required>
										<small style="color:blue;">(*) Campo autocompletable cuando selecciona provincia
											y
											localidad</small>
										<br><br>
									</div>
								</div>

								<div class="row">
									<div class="col col-12 col-lg-6 col-md-12 col-sm-12">
										<label for="exampleFormControlTextarea1" class="form-label">Tel Fijo 1:</label>
										<input type="text" class="form-control" placeholder="Tel Fijo 1"
											aria-label="First name" th:field="*{tel_fijo}">
										<br>
									</div>

									<div class="col col-12 col-lg-6 col-md-12 col-sm-12">
										<label for="exampleFormControlTextarea1" class="form-label">Tel Fijo 2:</label>
										<input type="text" class="form-control" placeholder="Tel Fijo 2"
											aria-label="First name" th:field="*{tel_fijo2}">
										<br>
									</div>
								</div>

								<div class="row">
									<div class="col col-12 col-lg-6 col-md-12 col-sm-12">
										<label for="exampleFormControlTextarea1" class="form-label">Cel 1:</label>
										<input type="text" class="form-control" placeholder="Cel"
											aria-label="First name" th:field="*{cel}">
										<br>
									</div>

									<div class="col col-12 col-lg-6 col-md-12 col-sm-12">
										<label for="exampleFormControlTextarea1" class="form-label">Cel 2:</label>
										<input type="text" class="form-control" placeholder="Cel 2"
											aria-label="First name" th:field="*{cel2}">
										<br>
									</div>
								</div>

								<div class="row">
									<div class="col col-12 col-lg-6 col-md-12 col-sm-12">
										<label for="exampleFormControlTextarea1" class="form-label">Mail 1:</label>
										<input type="email" class="form-control" placeholder="Mail 1"
											aria-label="First name" th:field="*{mail}">
										<br>
									</div>

									<div class="col col-12 col-lg-6 col-md-12 col-sm-12">
										<label for="exampleFormControlTextarea1" class="form-label">Mail 2:</label>
										<input type="email" class="form-control" placeholder="Mail 2"
											aria-label="First name" th:field="*{mail2}">
										<br>
									</div>
								</div>

								<div class="row">
									<div class="col col-12 col-lg-6 col-md-12 col-sm-12">
										<label for="exampleFormControlTextarea1" class="form-label">Nro
											Documento:</label>
										<input type="text" class="form-control" placeholder="Nro Documento"
											aria-label="First name" th:field="*{nro_documento}">
										<br>
									</div>
									<div class="col col-12 col-lg-6 col-md-12 col-sm-12">
										<label for="exampleFormControlTextarea1" class="form-label">Tipo de
											Documento</label>
										<select class="form-select" aria-label="Default select example"
											th:field="*{id_tipo_documento1}" required>
											<option th:each="tipo_documento : ${tipos_documentos}"
												th:text="${tipo_documento.tipo_documento}"
												th:value="${tipo_documento.id_tipo_documento}"></option>
										</select>
										<br>
									</div>
								</div>

								<div>
									<button class="text-white btn btn-primary" type="submit">Guardar</button>
									<a th:href="@{/}" class="text-white btn btn-danger">Cancelar</a>
								</div>

							</form>

						</div>
					</div>
				</div>

			</main>
			<footer th:replace="layout :: footer">

			</footer>
		</div>
	</div>
	<div th:replace="layout :: script">

	</div>

	<script>

		$(document).ready(function () {

			$.get("/sucursales/provincias", function (data) {

				data.forEach(function (item, i) {
					var option = "<option value = " + item.id + ">" + item.prov + "</option>";
					$("#id_provincia").append(option);
				});
			});

			function sendAjaxRequest() {
				var id_provincia = $("#id_provincia").val();
				$.get("/sucursales/localidades?id_provincia=" + id_provincia, function (data) {
					$("#id_localidad").empty();
					data.forEach(function (item, i) {
						var option = "<option value = " + item.id + ">" + item.localidad + "</option>";
						$("#id_localidad").append(option);
					});
					if ($("#id_localidad option:selected").val() > 0) {
						var localidad = $("#id_localidad option:selected").text();
						var provincia = $("#id_provincia option:selected").text();
						$("#id_seleccion").val($("#id_localidad").val());
						$("#seleccion").val(localidad + ", " + provincia);
					}
				});
			};

			$("#id_provincia").change(function () {
				sendAjaxRequest();
			});



			$("#id_localidad").change(function () {
				if ($("#id_localidad option:selected").val() > 0) {
					var localidad = $("#id_localidad option:selected").text();
					var provincia = $("#id_provincia option:selected").text();
					$("#id_seleccion").val($("#id_localidad").val());
					$("#seleccion").val(localidad + ", " + provincia);
				}
			});

		});




	</script>
</body>

</html>