<!DOCTYPE html>
<html lang="en">

<head th:replace="layout :: head">

</head>

<body class="sb-nav-fixed">
	<nav class="sb-topnav navbar navbar-expand navbar-dark bg-primary">
		<div th:replace="layout :: brand"></div>
		<form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">

		</form>

		<ul th:replace="layout :: navbar">

		</ul>
	</nav>
	<div id="layoutSidenav">
		<div id="layoutSidenav_nav">
			<nav class="sb-sidenav accordion text-dark" id="sidenavAccordion">
				<div class="sb-sidenav-menu">
					<div class="nav" th:replace="layout :: sidenav">

					</div>
				</div>
				<div th:replace="layout :: user">

				</div>
			</nav>
		</div>
		<div id="layoutSidenav_content">
			<main>

				<div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin:15px;"
					th:if="${error != null}">
					<span th:text="${error}"></span>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>


				<div class="container-fluid px-4">
					<h1 class="mt-4">Detalles Cliente</h1>
					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item"><a th:href="@{/clientes/listar}">Listar Clientes</a></li>
						<li class="breadcrumb-item active">Detalles Cliente</li>
					</ol>
					<div class="card mb-4">
						<div class="card-body" th:object="${cliente}">
							<span>Detalles del Cliente: <span th:text="*{cliente}"></span> </span>
							<br>
							<span>Localidad: <span
									th:text="*{id_localidad1.localidad + ', ' + id_localidad1.provincia.prov}"></span></span>
							<br>
							<span>Documento: <span th:text="*{nro_documento}"></span> </span>
							<br>
							<span>Tipo Documento: <span th:text="*{tipo_documento.tipo_documento}"></span>
							</span>
							<br>
							<span>Contacto: <span th:text="*{cel + '  ' + cel2 + '  ' + tel_fijo + '  '
										+ tel_fijo2 + '  ' + mail + '  ' + mail2}"></span> </span>
							<br>
							<span> Responsable IVA: <span th:text="*{id_responsable.responsable}"></span></span>
						</div>

						<div class="card-footer bg-info text-dark">
							<span>Saldo Pendiente: <span
									th:text="'$ '+ ${#numbers.formatDecimal(saldo_pendiente, 1, 'POINT', 2, 'COMMA')}"></span></span>
						</div>



					</div>
					<div class="card mb-4">
						<div class="card-header">
							<i class="fas fa-table me-1"></i>
							Detalles Cliente
						</div>
						<div class="card-body">





							<a class="btn btn-success"
								th:href="@{/planes_pagos/clientes/simular_cuotas/} + ${cliente.id_cliente}">Desarrollo
								Plan de Pago</a>

							<!-- Button trigger modal -->
							<button type="button" class="btn btn-primary" data-bs-toggle="modal"
								data-bs-target="#exampleModal">
								Detalles Cuentas Corrientes
							</button>

							<button type="button" class="btn btn-dark" data-bs-toggle="modal"
								data-bs-target="#exampleModal1" th:if="${saldo_pendiente > 0}">
								Situación Crediticia
							</button>

							<!-- Modal -->
							<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
								aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">Situación Crediticia</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal"
												aria-label="Close"></button>
										</div>
										<div class="modal-body">

											El Cliente <span th:text="${cliente.cliente}"></span>
											con (<span th:text="${cliente.tipo_documento.tipo_documento}"> </span>)
											<span th:text="${cliente.nro_documento}"> </span> <br>
											<b
												th:text="'Tiene un saldo pendiente de: ' + '$ '+ ${#numbers.formatDecimal(saldo_pendiente, 1, 'POINT', 2, 'COMMA')}">
											</b>
											<br><br>
											<b><span>Mantiene deuda con:</span></b>
											<!--<span th:if="${cliente}"></span>-->
											<div th:each="ctactecliente : ${cliente.ctasctesclientes}">
												

													<ul class="list-group" th:each="historial : ${ctactecliente.historiales_planes_pagos}">
														<li th:if="${historial.plan_pago.completado == false}" class="list-group-item" th:text="${historial.plan_pago.id_proveedor.razon_social}
														+ ', (' + ${historial.plan_pago.id_proveedor.id_localidad4.localidad} + ', ' + ${historial.plan_pago.id_proveedor.id_localidad4.provincia.prov} + ')'">An item</li>									
													</ul>

											
											</div>

										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary"
												data-bs-dismiss="modal">Cerrar</button>

										</div>
									</div>
								</div>
							</div>


							<!-- Modal -->
							<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
								aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">Detalles Cuentas Corrientes
											</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal"
												aria-label="Close"></button>
										</div>
										<div class="modal-body">


											<ol class="list-group list-group" th:each="cta_cte, i : ${ctas_ctes}">

												<li
													class="list-group-item d-flex justify-content-between align-items-start">


													<div class="ms-2 me-auto">

														<span class="fw-bold text-center">

															<span
																th:text="'Debe: ' + ${#numbers.formatDecimal(cta_cte.debe, 1, 'POINT', 2, 'COMMA')}"></span>
															<span
																th:text="'Haber: ' + ${#numbers.formatDecimal(cta_cte.haber, 1, 'POINT', 2, 'COMMA')}"></span>
															<span
																th:text="'Saldo: ' + ${#numbers.formatDecimal(cta_cte.saldo, 1, 'POINT', 2, 'COMMA')}"></span>


														</span>

														<div th:each="historial: ${cta_cte.historiales_altas_clientes}">
															<a th:text="${historial.concepto}"
																th:href="@{/clientes/detalles/} + ${historial.ctactecliente.cliente.id_cliente}">
																A list item</a>
														</div>

														<div th:each="historial: ${cta_cte.historiales_planes_pagos}">
															<a th:text="${historial.concepto}"
																th:href="@{/planes_pagos/detalles} + '/' + ${historial.plan_pago.id_plan_pago} +'/' + ${historial.ctactecliente.cliente.id_cliente}">
																A list item</a>
														</div>

														<div th:each="historial: ${cta_cte.historiales_recibos}">
															<a th:text="${historial.concepto}"
																th:href="@{/recibos/ver/} + ${historial.recibo.id_recibo}"
																target="_blank">
																A list item</a>
														</div>


													</div>


												</li>

											</ol>

										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary"
												data-bs-dismiss="modal">Cerrar</button>

										</div>
									</div>
								</div>
							</div>



							<div th:each="cta_cte : ${ctas_ctes}">
								<div th:each="historial : ${cta_cte.historiales_planes_pagos}">
									<br>
									<div class="list-group">
										<a th:href="@{/planes_pagos/detalles/} + ${historial.plan_pago.id_plan_pago} + '/' + ${cliente.id_cliente}"
											class="list-group-item list-group-item-action" aria-current="true">
											<div class="d-flex w-100 justify-content-between">
												<h5 class="mb-1"
													th:text="'Inicio: ' + ${#dates.format(historial.plan_pago.fecha_inicio,'dd/M/yyyy')}">
													List
													group item heading</h5>
												<small class="text-primary"
													th:text="'Legajo Plan Pago: ' + ${historial.plan_pago.id_plan_pago}">3
													days ago</small>
											</div>
											<p class="mb-1"
												th:text="'Tipo Interés: ' + ${historial.plan_pago.id_tipo_interes.tipo_interes}">
											</p>
											<p class="mb-1"
												th:text="'Nro Expediente: ' + ${historial.plan_pago.nro_expediente}">
											</p>
											<p class="mb-1" th:text="'Cuotas: ' + ${historial.plan_pago.nro_cuotas}">
											</p>
											<p class="mb-1 text-info"
												th:text="'Total: ' + '$ ' + ${#numbers.formatDecimal(historial.plan_pago.total, 0, 'POINT', 2, 'COMMA')}">
											</p>
											<p class="mb-1 text-primary"
												th:text="'Valor Cuota: ' + '$ ' + ${#numbers.formatDecimal(historial.plan_pago.valor_cuota, 0, 'POINT', 2, 'COMMA')}">
											</p>
											<p class="mb-1"
												th:text="'Proveedor: ' + ${historial.plan_pago.id_proveedor.razon_social}">
											</p>
											<p class="mb-1"
												th:text="'Abogado Parte Actora: ' + ${historial.plan_pago.pactora}"></p>
											<p class="mb-1 text-primary"
												th:text="'Plan de Pago generado en: ' + ${historial.actividad_usuario.usuario.sucursal.nombre_sucursal}">
											</p>
											<p class="list-group-item bg-success text-white"
												th:if="${historial.plan_pago.completado}">

												Plan de Pago Completado


											</p>

											<p class="list-group-item bg-danger text-white"
												th:if="${historial.plan_pago.irrecuperable}">

												Plan de Pago Irrecuperable


											</p>

											<p class="list-group-item bg-ligth text-dark"
												th:if="${historial.plan_pago.riesgo_bajo}">

												Plan de Pago con Riesgo Bajo


											</p>

											<p class="list-group-item bg-primary text-white"
												th:if="${historial.plan_pago.normal}">

												Plan de Pago con Estado Normal


											</p>

											<p class="list-group-item bg-warning text-dark"
												th:if="${historial.plan_pago.riesgo_medio}">

												Plan de Pago con Riesgo Medio


											</p>

											<p class="list-group-item bg-danger text-white"
												th:if="${historial.plan_pago.riesgo_alto}">

												Plan de Pago con Riesgo Alto


											</p>

										</a>


									</div>
									<br>
								</div>
							</div>

						</div>
					</div>
				</div>

			</main>
			<footer th:replace="layout :: footer">

			</footer>
		</div>
	</div>
	<div th:replace="layout :: script">

	</div>
</body>

</html>