<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Sistema Cobranza Cuotas</title>
        <link th:href="@{/css/styles.css}" rel="stylesheet" />
        <script th:src="@{/js/all.js}" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="layoutError">
            <div id="layoutError_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                <div class="text-center mt-4">
                                   <img th:src="@{/img/denegado.png}"
                                   <br>
                                    <p class="lead">Usted no tiene acceso a esta opción</p>
                                    <a th:href="@{/}">
                                        <i class="fas fa-arrow-left me-1" ></i>
                                        Volver al tablero
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutError_footer">
                  <footer class="py-4 bg-primary mt-auto" th:fragment="footer">
				<div class="container-fluid px-4">
					<div class="d-flex align-items-center justify-content-between small">
							<div class="text-white">Creado por RyR Computación 2022</div>
						<div class="text-white">
							<a class="text-white" href="https://www.ryrcomputacion.com">RyR Computación</a>
							&middot;
							<a class="text-white" href="#">Manual del Usuario</a >
						</div>
					</div>
				</div>
			</footer>
            </div>
        </div>
        <script th:src="@{/js/bootstrap.bundle.min.js}" crossorigin="anonymous"></script>
        <script th:src="@{/js/scripts.js}"></script>
    </body>
</html>
