<!DOCTYPE html>
<html lang="en">

<head th:replace="layout :: head">
	
</head>

<body class="sb-nav-fixed">
		<nav class="sb-topnav navbar navbar-expand navbar-dark bg-primary">
		<div th:replace="layout :: brand"></div>
		<form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
			
		</form>
	
		<ul th:replace="layout :: navbar">
			
		</ul >
	</nav>
	<div id="layoutSidenav">
		<div id="layoutSidenav_nav">
			<nav class="sb-sidenav accordion text-dark" id="sidenavAccordion">
				<div class="sb-sidenav-menu">
					<div class="nav" th:replace="layout :: sidenav">
						
					</div>
				</div>
				<div th:replace="layout :: user">
				
				</div>
			</nav>
		</div>
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid px-4">
					<h1 class="mt-4"> </h1>
					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item"><a th:href="@{/}">Tablero</a></li>
						<li class="breadcrumb-item active"></li>
					</ol>
					<div class="card mb-4">
						<div class="card-body">
							. Puede consultar el Manual del Usuario en:
							<a target="_blank" href="https://datatables.net/">Manual del Usuario</a>
							.
						</div>
					</div>
					<div class="card mb-4">
						<div class="card-header">
							<i class="fas fa-table me-1"></i>
							
						</div>
						<div class="card-body">
						
							<form class="row" th:action="@{/asignar_sucursal}"
								th:object="${usuario_sucursal}"
								method="post">

								<div class="row">
									<div class="col col-12 col-lg-6 col-md-12 col-sm-12">
										<label for="exampleFormControlTextarea1" class="form-label">Usuario</label>
										<input type="text" class="form-control" placeholder="Contraseña"
											aria-label="First name" th:value="${usuario.username}" disabled>
										<br>
									</div>
								
									<div class="col col-12 col-lg-6 col-md-12 col-sm-12">
										<label for="exampleFormControlTextarea1" class="form-label">Sucursales:</label>
										<select class="form-select" aria-label="Default select example"
											th:field="*{sucursal}" required>
											<option th:each="sucursal : ${sucursales}"
												th:text="${sucursal.nombre_sucursal}"
												th:value="${sucursal.id_sucursal}"></option>
										</select>
										<br>
									</div>

								</div>

									<div>
									<button class="text-white btn btn-primary" type="submit">Guardar</button>
									<a th:href="@{/}" class="text-white btn btn-danger">Cancelar</a>
								</div>
	
							</form>
						
						
						</div>
					</div>
				</div>
			</main>
			<footer th:replace="layout :: footer">
				
			</footer>
		</div>
	</div>
	<div th:replace="layout :: script">
		
	</div>
</body>

</html>