<!DOCTYPE html>
<html lang="en">

<head th:replace="layout :: head">

</head>

<body class="sb-nav-fixed">
	<nav class="sb-topnav navbar navbar-expand navbar-dark bg-primary">
		<div th:replace="layout :: brand"></div>
		<form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">

		</form>

		<ul th:replace="layout :: navbar">

		</ul>
	</nav>
	<div id="layoutSidenav">
		<div id="layoutSidenav_nav">
			<nav class="sb-sidenav accordion text-dark" id="sidenavAccordion">
				<div class="sb-sidenav-menu">
					<div class="nav" th:replace="layout :: sidenav">

					</div>
				</div>
				<div th:replace="layout :: user">

				</div>
			</nav>
		</div>
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid px-4">
					<h1 class="mt-4"> </h1>
					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item"><a th:href="@{/}">Tablero</a></li>
						<li class="breadcrumb-item active"></li>Informes Sucursales
					</ol>
					<div class="card mb-4">
						<div class="card-body">
							Aquí puede ver los informes de sucursales. Puede consultar el Manual del Usuario en:
							<a target="_blank" href="https://datatables.net/">Manual del Usuario</a>
							.
						</div>
					</div>
					<div class="card mb-4">
						<div class="card-header">
							<i class="fas fa-table me-1"></i>
							Informes Sucursales
						</div>
						<div class="card-body">

							<div class="list-group">
								<a th:each="historial : ${historial_sucursal}"
									th:href="@{/sucursales/detalles/} + ${historial.sucursal.id_sucursal}"
									class="list-group-item list-group-item-action" aria-current="true"
									th:classappend="${historial.sucursal.usuarios_sucursales.size > 0 ? '':'disabled'}">
									<div class="d-flex w-100 justify-content-between">
										<h5 class="mb-1" th:text="${historial.sucursal.nombre_sucursal}">List group item
											heading</h5>
										<small th:text="'Se dió de alta el ' + ${#dates.format(historial.actividad_usuario.fecha,'dd/M/yyyy')}">3
											days ago</small>
									</div>
									
								

								<!-- <div th:each="us : ${historial.sucursal.usuarios_sucursales}">
														<div th:each="actividad : ${us.actividades}">
															<p th:text="${actividad.historial_clientes.size()}"></p>
														</div>
								</div> -->
								

									<small
										th:text="${historial.sucursal.direccion} + ', ' + ${historial.sucursal.id_localidad2.localidad} + ', ' + ${historial.sucursal.id_localidad2.provincia.prov}">And
										some small print.</small>
								</a>

							</div>


						</div>
					</div>
				</div>
			</main>
			<footer th:replace="layout :: footer">

			</footer>
		</div>
	</div>
	<div th:replace="layout :: script">

	</div>
</body>

</html>