<!doctype html>
<html lang="en">

<head th:replace="layout :: head">

</head>

<body>

	<header th:replace="layout :: header">

	</header>

	<div class="container-fluid">
		<div class="row">
			<nav th:replace="layout :: nav">

			</nav>

			<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

				<br>
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a th:href="@{/}">Tablero</a></li>
						<li class="breadcrumb-item"><a th:href="@{/clientes/listar}">Clientes</a></li>
						<li class="breadcrumb-item"><a
								th:href="@{/clientes/detalles/} + ${plan_pago.id_cliente.id_cliente}">Detalles
								Cliente</a></li>
						<li class="breadcrumb-item active" aria-current="page">Detalles Plan de Pago</li>
					</ol>
				</nav>

				<h2 class="text-center">Detalles Plan de Pago</h2>

				<div class="row">

					<div class="col-12 col-md-6 col-lg-3 col-sm-12">
						<br>
						<div class="card text-white bg-info mb-3">
							<div class="card-header"><b>Total</b></div>
							<div class="card-body">

								<h5 class="card-title"
									th:text="'$ ' + ${#numbers.formatDecimal(plan_pago.total, 1, 'POINT', 2, 'COMMA')}">
								</h5>
								<!-- <h4 class="card-title" th:text="'Valor Cuota: $ ' + ${#numbers.formatDecimal(desarrollo.valor_cuota, 1, 'POINT', 2, 'COMMA')}"></h4>-->

							</div>
						</div>
					</div>

					<div class="col-12 col-md-6 col-lg-3 col-sm-12">
						<br>
						<div class="card text-white bg-primary mb-3">
							<div class="card-header"><b>Valor Cuotas</b></div>
							<div class="card-body">
								<h5 class="card-title"
									th:text="'$ ' + ${#numbers.formatDecimal(plan_pago.valor_cuota, 1, 'POINT', 2, 'COMMA')}">
								</h5>

							</div>
						</div>
					</div>



					<div class="col-12 col-md-6 col-lg-3 col-sm-12">
						<br>
						<div class="card text-white bg-secondary mb-3">
							<div class="card-header"><b>Pendiente</b></div>
							<div class="card-body">

								<h5 class="card-title"
									th:text="'$ ' + ${#numbers.formatDecimal(pendiente, 1, 'POINT', 2, 'COMMA')}">
								</h5>
								<!-- <h4 class="card-title" th:text="'Valor Cuota: $ ' + ${#numbers.formatDecimal(desarrollo.valor_cuota, 1, 'POINT', 2, 'COMMA')}"></h4>-->

							</div>
						</div>
					</div>

					<div class="col-12 col-md-6 col-lg-3 col-sm-12">
						<br>
						<div class="card text-white bg-success mb-3">
							<div class="card-header"><b>Pagado</b></div>
							<div class="card-body">
								<h5 class="card-title"
									th:text="'$ ' + ${#numbers.formatDecimal(pagado, 1, 'POINT', 2, 'COMMA')}">
								</h5>

							</div>
						</div>
					</div>

				</div>

				<form th:action="@{/pagos/generar_pago}" method="post">
				
					<div class="table-responsive">
						<table class="table table-sm text-center">
							<thead class="bg-dark text-white">
								<tr>
									<th class="border-white" scope="col">Nro Cuota</th>
									<th class="border-white" scope="col">Fecha Vencimiento</th>

									<th class="border-white" scope="col">Deuda Nominal</th>
									<th class="border-white" scope="col">Cuota Nominal</th>
									<th class="border-white" scope="col">Honorarios</th>
									<th class="border-white" scope="col">Interés</th>
									<th class="border-white" scope="col">IVA Interés</th>
									<th class="border-white" scope="col">IVA Honorarios</th>
									<th class="border-white" scope="col">Gastos</th>
									<th class="border-white bg-primary text-white" scope="col">Valor</th>
									<th class="border-white bg-secondary text-white" scope="col">Pendiente</th>
									<th class="border-white bg-dark text-white" scope="col">Pagar</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="cuota : ${plan_pago.cuotas}">

									<td th:class="${cuota.pagado ? 'bg-success text-white':''}"
										th:text=" ${cuota.nro_cuota}">1,001</td>
									<td th:class="${cuota.pagado ? 'bg-success text-white':''}"
										th:text="${#dates.format(cuota.fecha,'dd/M/yyyy')}">1,001</td>
									<td th:class="${cuota.pagado ? 'bg-success text-white':''}"
										th:text=" '$ ' + ${#numbers.formatDecimal(cuota.deuda_nominal, 0, 'POINT', 2, 'COMMA')} ">
										1,001</td>
									<td th:class="${cuota.pagado ? 'bg-success text-white':''}"
										th:text=" '$ ' + ${#numbers.formatDecimal(cuota.cuota_nominal, 0, 'POINT', 2, 'COMMA')} ">
										1,001</td>
									<td th:class="${cuota.pagado ? 'bg-success text-white':''}"
										th:text=" '$ ' + ${#numbers.formatDecimal(cuota.honorarios, 0, 'POINT', 2, 'COMMA')}">
										1,001</td>
									<td th:class="${cuota.pagado ? 'bg-success text-white':''}"
										th:text=" '$ ' + ${#numbers.formatDecimal(cuota.interes, 0, 'POINT', 2, 'COMMA')}">
										1,001</td>
									<td th:class="${cuota.pagado ? 'bg-success text-white':''}"
										th:text=" ${#numbers.formatDecimal(cuota.iva_interes, 1, 'POINT', 2, 'COMMA')} + '%'">
										1,001</td>
									<td th:class="${cuota.pagado ? 'bg-success text-white':''}"
										th:text=" ${#numbers.formatDecimal(cuota.iva_honorarios, 1, 'POINT', 2, 'COMMA')} + '%'">
										1,001</td>
									<td th:class="${cuota.pagado ? 'bg-success text-white':''}"
										th:text=" '$ ' + ${#numbers.formatDecimal(plan_pago.gasto, 0, 'POINT', 2, 'COMMA')}">
										1,001</td>
									<td th:class="${cuota.pagado ? 'bg-success text-white':'bg-primary text-white'}"
										th:id="'valor_cuota_txt_'+${cuota.nro_cuota}"
										th:text=" '$ ' + ${#numbers.formatDecimal(cuota.valor, 0, 'POINT', 2, 'COMMA')}">
										1,001</td>
									<td class="d-none" th:id="'valor_cuota_'+${cuota.nro_cuota}"
										th:text="${cuota.valor}">
										1,001</td>
									<td th:class="${cuota.pagado ? 'bg-success text-white':'bg-secondary text-white'}"
										th:text="'$ ' + ${#numbers.formatDecimal(cuota.pendiente, 1, 'POINT', 2, 'COMMA')}">
										1,001</td>
									<td th:class="${cuota.pagado ? 'bg-success text-white':''}">
										<input class="form-check-input" type="checkbox" th:value="${cuota.id_cuota}"
											name="cuotas[]" id="" th:if="${!cuota.pagado}">
										<a th:if="${cuota.pendiente >= 0 and cuota.pendiente < cuota.valor}"
											th:data-bs-target="'#cuota_'+${cuota.id_cuota}" data-bs-toggle='modal'>
											<i class="fas fa-archive text-dark"></i>
										</a>

										<!-- Modal -->
										<div class="modal fade" th:id="'cuota_' + ${cuota.id_cuota}" tabindex="-1"
											aria-labelledby="exampleModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-lg">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title text-dark" id="exampleModalLabel">
															Importes Registrados Cuota Nro <b th:text="${cuota.nro_cuota}"></b ></h5>
														<button type="button" class="btn-close" data-bs-dismiss="modal"
															aria-label="Close"></button>
													</div>
													<div class="modal-body">

														<div class="row">

															<div class="col-12 col-md-6 col-lg-6 col-sm-12">
																<br>
																<div class="card text-white bg-secondary mb-3">
																	<div class="card-header"><b>Pendiente</b></div>
																	<div class="card-body">

																		<h5 class="card-title"
																			th:text="'$ ' + ${#numbers.formatDecimal(cuota.pendiente, 1, 'POINT', 2, 'COMMA')}">
																		</h5>
																		<!-- <h4 class="card-title" th:text="'Valor Cuota: $ ' + ${#numbers.formatDecimal(desarrollo.valor_cuota, 1, 'POINT', 2, 'COMMA')}"></h4>-->

																	</div>
																</div>
															</div>

															<div class="col-12 col-md-6 col-lg-6 col-sm-12">
																<br>
																<div class="card text-white bg-success mb-3">
																	<div class="card-header"><b>Pagado</b></div>
																	<div class="card-body">
																		<h5 class="card-title"
																			th:text="'$ ' + ${#numbers.formatDecimal(cuota.sum_importes(), 1, 'POINT', 2, 'COMMA')}">
																		</h5>

																	</div>
																</div>
															</div>

														</div>

														<table class="table table-success table-striped">
															<thead>
																<tr>
																	<th scope="col">Id</th>
																	<th scope="col">Importe</th>
																	<th scope="col">Fecha</th>
																	<th scope="col">Medio de Pago</th>
																	<th scope="col">Detalles</th>
																	<th scope="col">Recibos</th>	
																</tr>
															</thead>
															<tbody>
																<tr th:each="importe : ${cuota.importes}">
																	<td th:text="${importe.id_importe}">Mark</td>
																	<td
																		th:text="'$ ' + ${#numbers.formatDecimal(importe.importe, 1, 'POINT', 2, 'COMMA')}">
																		Mark</td>
																	<td
																		th:text="${#dates.format(importe.fecha,'dd/M/yyyy')}">
																		Mark</td>
																	<td th:text="${importe.medio_pago.medio_pago}">Mark
																	</td>
																	<td th:text="${importe.detalles}">Mark</td>
																	<td >
																		<div class="text-center" th:each="detalle_recibo : ${importe.detalles_recibos}">
																		<a class="text-primary" 
																		th:href="@{'/recibos/ver/' + ${detalle_recibo.recibo.id_recibo}}"
																		target="_blank">Comprobante</a >
																		<br>
																		</div>
																	</td >
																</tr>
															</tbody>
														</table>

													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary"
															data-bs-dismiss="modal">Cerrar</button>
														
													</div>
												</div>
											</div>
										</div>

									</td>

								</tr>
							</tbody>
						</table>

						<input class="d-none" th:value="${plan_pago.id_plan_pago}" name="id_plan_pago" id="">
					
						<input class="d-none" name="id_cliente" th:value="${cliente.id_cliente}"></input>

						<button type="submit" class="btn btn-primary">
							Generar Pago
						</button>

				</form>


				<br><br>


			</main>
		</div>
	</div>

	<div th:replace="layout :: script"></div>
	<script>


	</script>


</body>

</html>