<!DOCTYPE html>
<html lang="en">

<head th:replace="layout :: head">
	
</head>

<body class="sb-nav-fixed">
		<nav class="sb-topnav navbar navbar-expand navbar-dark bg-primary">
		<div th:replace="layout :: brand"></div>
		<form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
			
		</form>
	
		<ul th:replace="layout :: navbar">
			
		</ul >
	</nav>
	<div id="layoutSidenav">
		<div id="layoutSidenav_nav">
			<nav class="sb-sidenav accordion text-dark" id="sidenavAccordion">
				<div class="sb-sidenav-menu">
					<div class="nav" th:replace="layout :: sidenav">
						
					</div>
				</div>
				<div th:replace="layout :: user">
				
				</div>
			</nav>
		</div>
		<div id="layoutSidenav_content">
			<main>
			
			<div class="container-fluid px-4">
					<h1 class="mt-4">Generar Pago </h1>
					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item"><a th:href="@{/planes_pagos/detalles/} + ${plan_pago.id_plan_pago} + '/' + ${cliente.id_cliente}">Detalles Plan de Pago</a></li>
						<li class="breadcrumb-item active">Generar Pago</li>
					</ol>
					<div class="card mb-4">
						<div class="card-body">
							Aquí se realiza la generación de pagos. Puede consultar el Manual del Usuario en:
							<a target="_blank" href="https://datatables.net/">Manual del Usuario</a>
							.
						</div>
					</div>
					<div class="card mb-4">
						<div class="card-header">
							<i class="fas fa-table me-1"></i>
							Generar Pago
						</div>
						<div class="card-body">
						
						<ol class="list-group list-group-numbered">
					<li class="list-group-item d-flex justify-content-between align-items-start"
						th:each="cuota : ${cuotas}">
						<div class="ms-2 me-auto">
							<div class="fw-bold" th:text="'Cuota Nro: ' + ${cuota.nro_cuota}">Subheading</div>
							<span th:text="'Vencimiento: ' + ${cuota.fecha}"></span>
						</div>
						<span class="badge bg-primary rounded-pill"
							th:text="'Pendiente: $ ' + ${#numbers.formatDecimal(cuota.pendiente, 0, 'POINT', 2, 'COMMA')}">14</span>
					</li>
				</ol>
				<br>
				<span class="badge bg-primary rounded-pill" style="font-size: 20px;"
					th:text="'Total: $ ' + ${#numbers.formatDecimal(total, 0, 'POINT', 2, 'COMMA')}">14</span>

				<input required type="number" class="form-control d-none" name="total" id="total"
					th:value="${total}"></input>

				<br><br>

				<form th:action="@{/pagos/generar_importes}" method="post">
					<div class="row">


						<input required type="number" class="form-control d-none" name="plan_pago" id="plan_pago"
							th:value="${plan_pago.id_plan_pago}"></input>




						

						<div class="col">
							<label class="form-label">Medio de Pago:</label>
							<select class="form-select form-select-md mb-3" aria-label=".form-select-lg example"
								id="medios_pagos" required>
								<option value="0">Seleccione Medio de Pago</option>
								<option th:each="medio_pago : ${medios_pagos}" th:text="${medio_pago.medio_pago}"
									th:value="${medio_pago.id_medio_pago}">Open this select menu
								</option>
							</select>
						</div>

						<br>

					</div>

					<button type="button" class="btn btn-primary" id="cargar">Cargar</button>

					<br><br>

					<div class="table-responsive">

						<table th:replace="pagos/plantilla-importes :: importes"></table>
					</div>

					<div class="table-responsive">
							<a href="#"
					onclick="eliminarImportes();"><i class="far fa-trash-alt text-danger text-center"></i></a>
						<table id="cargarImportes" class="table table-sm table-striped table-hover text-center">
							<thead>
								<tr>
									<th class="d-none">Id Importe:</th >
								
									<th>Medio de Pago:</th>
									<th class="d-none">Medio de Pago Value:</th >
									<th>Importe:</th>
								
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					
					<br>
					<span class="badge bg-success rounded-pill" style="font-size: 20px;"
					id="pendiente">Pendiente: $0,00</span>
					<br><br>

					<button type="submit" class="btn btn-success" id="generar_recibo" disabled>Generar Recibo</button>

				</form>

						
						
						</div>
					</div>
				</div>
				
			</main>
			<footer th:replace="layout :: footer">
				
			</footer>
		</div>
	</div>
	<div th:replace="layout :: script">
		
	</div>
	<script>

		var id = 1;
		var importes = [];
		
		$("#pendiente").html('Pendiente: $ ' + parseFloat($("#total").val()).toFixed(2).replace(".", ","));


		function Importe(
			nro_importe, medio_pago, importe
		) {
			this.nro_importe = nro_importe;
		
			this.medio_pago = medio_pago;
			this.importe = importe;
		};

		

		function eliminarImportes() {
			$("#cargarImportes tbody tr").remove(); 
			importes = [];
				$("#pendiente").html('Pendiente: $ ' + parseFloat($("#total").val()).toFixed(2).replace(".", ","));
		}
		
		function pendiente(){
			
			var total = $("#total").val();
			var importes = 0;
			$('input[id^="inp_importe_"]').each(function () {
					importes += parseFloat($(this).val());
			});
			
			var pendiente_ = parseFloat((total - importes)).toFixed(2);
			$("#pendiente").html('Pendiente: $ ' + pendiente_.replace(".", ","));
			
			if(pendiente_ >= 0){
					$("#generar_recibo").removeAttr('disabled');
				
			}else{
					$("#generar_recibo").prop("disabled", true);
			}
			
		}
		
		
		
		function cargarMax(){
			var total = $("#total").val();
			var num_importes = importes.length;
			var max = total / num_importes;

			for (let i in importes) {

				$("#inp_importe_" + importes[i].nro_importe).attr('max', total);
			}
		}

		$(document).ready(function () {

			$("#cargar").click(function () {
				if ($("#medios_pagos").val() > 0) {

				
					var medio_pago = $("#medios_pagos option:selected").text();
					var medio_pago_value = $("#medios_pagos option:selected").val();

					var existe = false;

					for (let i in importes) {
						if (importes[i].medio_pago == medio_pago) {
							existe = true;
							break;
						}
					}
					
					if (!existe) {

						var importe = new Importe(
							id,
						
							medio_pago,
							0,
						);
						
						importes.push(importe);

						linea = $("#plantillaImportes").html();



						linea = linea.replace(/{NRO_IMPORTE}/g, id);
						linea = linea.replace(/{MEDIO_PAGO}/g, medio_pago);
						linea = linea.replace(/{MEDIO_PAGO_VALUE}/g, medio_pago_value);	

					


						$("#cargarImportes tbody").append(linea);

						cargarMax();
						id = id + 1;
						
						

					}

				}
			});


		});
	</script>

</body>

</html>